<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <!-- STANDARD TEMPLATE (DEVELOPMENT) -->
        <meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
		<meta http-equiv="Content-Language" content="en-us" />
		<meta name="google-site-verification" content="Rc79Qm48e_8smymiv83KuKKKzbSoJ_ldMcEGr7lvpMA" />
        <%= put_meta_title %>
		<%= put_meta_description %>
		<%= put_meta_keywords %>
        <%= stylesheet_link_tag "style" %>
        <%= stylesheet_link_tag 'acts_as_taggable_stylesheet' %>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <div id="bg1">
            <div id="header">
                <h1><a href="#">wave extensions
                        <sup>
                            rate 'em!
                        </sup>
                    </a></h1>
                <h2><%= render :partial=>"shared/login" %></h2>
            </div>
            <!-- end #header -->
        </div>
        <!-- end #bg1 -->
        <div id="bg2">
            <div id="header2">
                <div id="menu">
                    <ul>
                        <li>
                            <a href="<%= extensions_path %>">New</a>
                        </li>
                        <li>
                            <a href="<%= show_by_rating_path %>">Top 10</a>
                        </li>
                        <li>
                            <a href="<%= new_extension_path %>">Submit</a>
                        </li>
                        <li>
                            <a href="<%= tags_path %>">tags</a>
                        </li>
						<li>
                            <a href="<%= categories_path %>">categories</a>
                        </li>
                        <li>
                            <a href="<%= plain_list_path %>">a-z</a>
                        </li>
                    </ul>
                </div>
                <!-- end #menu -->
                <div id="search">
                    <%= render :partial=>"shared/googlesearch" %>
                </div>
                <!-- end #search -->
            </div>
            <!-- end #header2 -->
        </div>
        <!-- end #bg2 -->
        <div id="bg3">
            <div id="bg4">
                <div id="bg5">
                    <div id="page">
                        <% if flash[:notice] -%>
                        <div id="notice">
                            <%= flash[:notice] %>
                        </div>
                        <% end -%>
                        <% if flash[:error] -%>
                        <div id="error">
                            <%= flash[:error] %>
                        </div>
                        <% end -%>
                        <div id="content">
                            <%= yield %>
                        </div>
                        <!-- end #content -->
                        <div id="sidebar">
                            <ul>
                                <li>
                                    <h2>tags</h2>
                                    <div class="element">
                                        <%= tag_cloud %>
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <h2>links</h2>
                                    <div class="element">
                                        <img src="/images/rss.jpg" alt="rss"/><%= link_to " RSS Feed: Suscribe now!", :action => "rss", :controller => "extensions" %>
                                        <%= render :partial=>"shared/sharethis" %>
                                    </div>
                                </li>
                            </ul>
                        </div><!-- end #sidebar -->
                        <div style="clear: both; height: 40px;">
                            &nbsp;
                        </div>
                    </div>
                    <!-- end #page -->
                </div>
            </div>
        </div>
        <!-- end #bg3 -->
        <div id="footer">
            <p>
            	<!--
                (c) 2008 Sitename.com. Design by <a href="http://www.nodethirtythree.com/">nodeThirtyThree</a>
                + <a href="http://www.freewpthemes.net/">Free CSS Templates</a> --> 
				<a href="<%= show_impressum_path %>">Impressum</a> | <a href="/staticsites/getDS">Datenschutzerklärung</a>
            </p>
        </div>
        <!-- end #footer -->
    </body>
</html>
